<h1><%= "Current users available to follow" %></h1>

<style>
    table, th, td {
        border: 1px solid black;
        width:30%
        align:center
    }
</style>

<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>Email</th>
    <th colspan="2"></th>
  </tr>
  </thead>

    <tbody>
    <% @users.each do |user| %>
    
      <% if user.email != current_user.email %>
        <tr>
          <td><%= user.id %></td>
          <td><%=user.email%></td>
          <td><%= link_to "Follow", friendships_path(:friend_id => user), :method => :post %></td>
        </tr>
    <% end %>
    <% end %>

    </tbody>
    </table>

    
